
.montserrat {
font-family: "Montserrat", sans-serif;
}

.Login-page {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: white;
height: 100vh;
background-size: cover;
}

.board-section {
background: #000000;
width: 588px;
height: 1024px;
gap: 0px;
opacity: 0px;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: Montserrat;
font-size: 72px;
font-weight: 700;
line-height: 87.77px;
text-align: left;
}

.logo {
width: 15px;
margin-right: 10px;
}

.logo-apple {
width: 25px;
margin-right: 10px;
}

.sign-part {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
margin: 0px;
padding: 0px;
}

.sign-in-google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: 180px;
    margin: 20px 0px 20px 0px;
    color: rgb(178, 179, 179);
}

.sign-in-item {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 29vw;
}

.sign-in-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 852px;
height: 1024px;
left: 588px;
gap: 0px;
opacity: 0px;
background: #f5f5f5;
}

.sign-in-section h1 {
margin: 0px;
padding: 0px;
}

.sign-in-section h4 {
margin-top: 5px;
padding: 0px;
}

.login-part {
background-color: white;
padding: 20px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-content: flex-start;
width: 25vw;
}

.login-part p {
color: blue;
cursor: pointer;
}

.login-part button {
height: 40px;
width: 100%;
background-color: black;
color: white;
cursor: pointer;
outline: none;
border: 0px;
border-radius: 10px;
font-size: 17px;
font-weight: bold;
}

.register {
color: blue;
cursor: pointer;
}

.mail-input {
height: 20px;
border: 0px;
background-color: rgb(236, 243, 243);
border-radius: 10px;
margin: 10px 0px 10px 0px;
outline: none;
padding: 10px;
font-size: 20px;
}

.password-input {
height: 20px;
border: 0px;
background-color: rgb(221, 224, 224);
border-radius: 10px;
margin: 10px 0px 10px 0px;
outline: none;
padding: 10px;
font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .Login-page {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding: 20px;
        width: 100vw;
    }

    .board-section {
        width: 100%;
        height: auto;
        text-align: center;
    }
}